{%load staticfiles%}
<head>
    <meta charset="UTF-8">
    <title>404页面</title>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
            background-color: #FFFFFFF;
        }
        div{
            width: 700px;
            height: 200px;
            background-color: #FFFFFF;
        }
        .center-in-center{
            position: absolute;
            top: 40%;
            left: 30%;
        }
    </style>
</head>
<body>
    <div class="center-in-center">
		<img src="{%static 'image/404.JPG'%}" width="228" height="196" align="left">你的页面找不到了<br>
		不如搜索一下你想要的或者刷新一下网页吧！ <br>
		<img src="{%static 'image/reflesh.JPG'%}" onclick="location.reload(); ">
	</div>
</body>
</html>