{%load staticfiles%}
<head>
    <meta charset="UTF-8">
    <title>500页面</title>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
            background-color: #FFFFFFF;
        }
        div{
            width: 700px;
            height: 200px;
            background-color: #FFFFFF;
        }
        .center-in-center{
            position: absolute;
            top: 40%;
            left: 30%;
        }
    </style>
</head>
<body>
    <div class="center-in-center">
		<img src="{%static 'image/500.JPG'%}" width="228" height="196" align="left">服务器内部错误，不能执行这个请求！ <br>
		<a href="/login_action/"><img src="{%static 'image/home.JPG'%}"></a></div>
</body>
</html>